body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard{
    height: 400px;
    width: 400px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#gameboard > div:not(:nth-child(3n)){
    border-right: 2px black solid;
}

#gameboard > div:nth-child(-n+6){
    border-bottom: 2px black solid;
}

.casilla{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 80px;
    height: 80px;
}